<div class='text-center'>
	<h2>{{name}}</h2>
	<p>{{description}}</p>
	<p>Created by {{user.name}} on {{format_date date_created}}</p>
	<form id='comment-form'>
		<textarea
			placeholder='Leave A Comment!'
			id='comment-input'
			name='comment-input'
		></textarea><br />
		<button class='btn btn-primary' type='submit'>Leave A Comment</button>
	</form>

</div>

<script src='/js/comment.js'></script>